In [1]:
import pandas as pd
reactions = pd.read_csv("Reactions.csv")
user = pd.read_csv("User.csv")
session = pd.read_csv("Session.csv")
reactiontypes = pd.read_csv("ReactionTypes.csv")
profile = pd.read_csv("Profile.csv")
content = pd.read_csv("Content.csv")
location = pd.read_csv("Location.csv")

In [2]:
print(reactions.info())
print(user.info())
print(session.info())
print(reactiontypes.info())
print(profile.info())
print(content.info())
print(location.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   User ID     500 non-null    object
 2   Name        500 non-null    object
 3   Email       500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   User ID     500 non-null    object
 2   Device      500 non-null    object
 3   Duration    500 non-null    int64
dtypes: int64(2), object(2)
memory usage: 15.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 640.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   User ID     500 non-null    object
 2   Interests   500 non-null    object
 3   Age         500 non-null    int64
dtypes: int64(2), object(2)
memory usage: 15.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   User ID     500 non-null    object
 2   Address     500 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.8+ KB
None

In [3]:
df_user = pd.merge(pd.merge(pd.merge(user,profile,on='User ID' , how = "inner"),session,on="User ID" , how = "inner"),location , on = "User ID", how = "inner")
df_user.drop(["Unnamed: 0_x","Unnamed: 0_y"] , axis =1 , inplace = True)
df_user

,User ID,Name,Email,Interests,Age,Device,Duration,Address
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531"
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,Michael Deering,MD@gmail.com,['tennis'],23,Apple,51,"534 Williams Turnpike Suite 788\nPort Julie, W..."
2,a8229d24-f219-4930-a382-24049a8f73bb,Richard Bain,RB@gmail.com,"['fitness', 'cooking', 'animals', 'travel']",25,HTC,25,"867 Lisa Causeway Apt. 015\nWest Brentmouth, A..."
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,Kristi Mccarthy,KM@gmail.com,"['technology', 'culture', 'veganism']",2,Motorola,68,"5687 Wilson Harbors Suite 763\nLake Robert, FL..."
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,Betty Ellis,BE@gmail.com,['education'],44,Huawei,57,Unit 2614 Box 8996\nDPO AE 23660
...,...,...,...,...,...,...,...,...
495,1f7e22c8-558a-4b6f-a04f-b219593f029e,Tracey Corbett,TC@gmail.com,"['tennis', 'veganism', 'education', 'soccer']",21,Motorola,59,"710 Tiffany Knoll Suite 379\nCarterport, HI 44352"
496,0d47a133-383b-4a9c-976c-697ac65ccb19,Jennifer Mcintosh,JM@gmail.com,"['healthy eating', 'travel']",5,Samsung,23,"61708 Terri Walks Suite 867\nEast Dylan, MD 80914"
497,db0066e1-83cc-43f3-990b-983010aa5370,Marion Stecklein,MS@gmail.com,['soccer'],14,Microsoft,35,"1944 Gonzalez Cove\nSouth Jason, SD 65716"
498,d6204684-926d-41db-ae9c-a7bf2e76313a,Jeffery Zerbe,JZ@gmail.com,"['public speaking', 'dogs']",24,Motorola,99,"41287 Miller Isle\nTylermouth, VT 38540"
499,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...

In [4]:
df_r = pd.merge(reactions,reactiontypes, on ="Type" , how = 'inner')
df_r.drop(["Unnamed: 0_x","Unnamed: 0_y"] , axis = 1, inplace = True)
df_r

,Content ID,User ID,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07-11-2020 09:43,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06-01-2021 19:13,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,13c06e7e-833d-47eb-a790-5e09ccfd8d2c,disgust,09-04-2021 02:46,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,8b49caad-bcc5-43de-bf40-34a66ff8805c,disgust,28-03-2021 21:15,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,ef147ea5-9696-44d5-b6c2-a43f62fd8ce2,disgust,04-08-2020 05:40,negative,0
...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,d51a3403-8bab-4d88-af4f-a429c6d8c168,adore,04-10-2020 22:26,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,3663e3e6-3d5c-4ed9-a6af-1e680ec5f34b,adore,18-09-2020 10:50,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,89572273-761e-46f3-8b99-1689d98aac90,adore,31-10-2020 03:58,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,7bf3ce80-784e-42a0-b06a-dbbd1e31a9b7,adore,25-06-2020 15:12,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,dcc6000c-ba92-472c-8bc1-9e9ca30b475b,adore,17-12-2020 16:32,positive,72

In [5]:
df_user_r = pd.merge( df_user ,df_r , on = "User ID", how = "inner")
df_user_r

,User ID,Name,Email,Interests,Age,Device,Duration,Address,Content ID,Type,Datetime,Sentiment,Score
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",51a26a10-6973-4882-aa88-98b53978ce01,disgust,20-11-2020 19:40,negative,0
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",16fb5dcb-4349-4831-acf2-8c116ad7dae5,disgust,23-11-2020 18:55,negative,0
2,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",01396602-c759-4a17-90f0-8f9b3ca11b30,disgust,31-10-2020 11:49,negative,0
3,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",230c4e4d-70c3-461d-b42c-ec09396efb3f,scared,20-09-2020 08:48,negative,15
4,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",c01fa154-5348-4040-9d20-0bbf01f6349b,scared,21-01-2021 17:54,negative,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22529,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,6a30164f-28c3-4d10-b928-66585a85cbb5,want,04-03-2021 19:59,positive,70
22530,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,a4067fb5-3ba8-4f97-87c2-ddad5e4029c2,adore,22-11-2020 17:16,positive,72
22531,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,9ef39aa2-60f9-4e4b-b666-c6cb97015503,adore,22-10-2020 11:01,positive,72
22532,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,92c1fcb5-5b56-4780-85cb-0c4858b39b3e,adore,13-02-2021 23:06,positive,72
22533,07f4dcd0-2bf3-4f21-9da3-b054b511ae00,Darcel Smith,DS@gmail.com,"['education', 'science', 'animals', 'public sp...",24,Samsung,91,51539 Sullivan Extensions Apt. 265\nSouth Trav...,7c47e333-da29-4be9-8156-2e5f75a991e1,adore,19-12-2020 18:15,positive,72

In [6]:
df_user_r.groupby("User ID").count()

,Name,Email,Interests,Age,Device,Duration,Address,Content ID,Type,Datetime,Sentiment,Score
User ID,,,,,,,,,,,,
002cd824-10f2-447c-8d1c-940325a1cdf4,51,51,51,51,51,51,51,51,51,51,51,51
007a1366-a46f-40f1-9ba5-01245aeaf20f,35,35,35,35,35,35,35,35,35,35,35,35
03e3a23a-a77a-41da-9ecd-3f2ff9e5bc90,39,39,39,39,39,39,39,39,39,39,39,39
04e52602-e370-4a99-bfda-f0c1655058da,41,41,41,41,41,41,41,41,41,41,41,41
052faed2-37ac-4a2c-ba6f-2657322e4fa5,54,54,54,54,54,54,54,54,54,54,54,54
...,...,...,...,...,...,...,...,...,...,...,...,...
fe15963d-0a77-4247-9bc6-04e146b826b2,53,53,53,53,53,53,53,53,53,53,53,53
fe1c151b-1a95-43fa-9a4c-f3214adba852,49,49,49,49,49,49,49,49,49,49,49,49
fe224147-e893-4178-b46e-b12f22bd7ed1,48,48,48,48,48,48,48,48,48,48,48,48
fe37b2b4-ee09-4caf-aff5-fd15f6f083a1,48,48,48,48,48,48,48,48,48,48,48,48
ffdb3615-516c-422f-aa24-a137e3027d3a,46,46,46,46,46,46,46,46,46,46,46,46

In [7]:
df_user_r.groupby("Content ID").describe().transpose()

Content ID      004e820e-49c3-4ba2-9d02-62db0065410c  \
Age      count                                   1.0
         mean                                   28.0
         std                                     NaN
         min                                    28.0
         25%                                    28.0
         50%                                    28.0
         75%                                    28.0
         max                                    28.0
Duration count                                   1.0
         mean                                   97.0
         std                                     NaN
         min                                    97.0
         25%                                    97.0
         50%                                    97.0
         75%                                    97.0
         max                                    97.0
Score    count                                   1.0
         mean                                   60.0
         std                                     NaN
         min                                    60.0
         25%                                    60.0
         50%                                    60.0
         75%                                    60.0
         max                                    60.0

Content ID      00d0cdf9-5919-4102-bf84-ebde253c3cd2  \
Age      count                             42.000000
         mean                              23.285714
         std                               11.481238
         min                                4.000000
         25%                               14.250000
         50%                               24.500000
         75%                               32.000000
         max                               42.000000
Duration count                             42.000000
         mean                              44.261905
         std                               30.491150
         min                                1.000000
         25%                               14.000000
         50%                               43.000000
         75%                               71.250000
         max                               98.000000
Score    count                             42.000000
         mean                              41.333333
         std                               26.094263
         min                                0.000000
         25%                               15.000000
         50%                               45.000000
         75%                               70.000000
         max                               75.000000

Content ID      01396602-c759-4a17-90f0-8f9b3ca11b30  \
Age      count                             36.000000
         mean                              20.972222
         std                               12.742474
         min                                0.000000
         25%                               10.000000
         50%                               19.500000
         75%                               32.000000
         max                               43.000000
Duration count                             36.000000
         mean                              53.027778
         std                               28.273649
         min                                7.000000
         25%                               29.000000
         50%                               52.000000
         75%                               82.000000
         max                               98.000000
Score    count                             36.000000
         mean                              29.333333
         std                               24.057075
         min                                0.000000
         25%                               10.000000
         50%                               25.000000
         75%                               50.000000
         max                               75.000000

Content ID      019b61f4-926c-438e-adaf-6119c5eab752  \
Age      count                             12.000000
         mean                              15.666667
         std                               13.759845
         min                                1.000000
         25%                                7.000000
         50%                               11.000000
         75%                               18.500000
         max                               42.000000
Duration count                             12.000000
         mean                              54.583333
         std                               27.969003
         min                                0.000000
         25%                               31.500000
         50%                               59.000000
         75%                               74.250000
         max                               97.000000
Score    count                             12.000000
         mean                              33.666667
         std                               26.227443
         min                                0.000000
         25%                               15.000000
         50%                               30.000000
         75%                               51.250000
         max                               72.000000

Content ID      01ab84dd-6364-4236-abbb-3f237db77180  \
Age      count                                   1.0
         mean                                   28.0
         std                                     NaN
         min                                    28.0
         25%                                    28.0
         50%                                    28.0
         75%                                    28.0
         max                                    28.0
Duration count                                   1.0
         mean                                   56.0
         std                                     NaN
         min                                    56.0
         25%                                    56.0
         50%                                    56.0
         75%                                    56.0
         max                                    56.0
Score    count                                   1.0
         mean                                   15.0
         std                                     NaN
         min                                    15.0
         25%                                    15.0
         50%                                    15.0
         75%                                    15.0
         max                                    15.0

Content ID      01aff5ec-2aa8-412e-99ec-526f0f9a6d5e  \
Age      count                             39.000000
         mean                              21.743590
         std                               12.442960
         min                                2.000000
         25%                               12.000000
         50%                               19.000000
         75%                               31.000000
         max                               43.000000
Duration count                             39.000000
         mean                              46.282051
         std                               29.340962
         min                                3.000000
         25%                               22.500000
         50%                               48.000000
         75%                               72.000000
         max                               98.000000
Score    count                             39.000000
         mean                              44.923077
         std                               27.514957
         min                                0.000000
         25%                               20.000000
         50%                               50.000000
         75%                               70.000000
         max                               75.000000

Content ID      02664d35-87cf-46a6-a80b-78fbc9ac8b2f  \
Age      count                             32.000000
         mean                              20.031250
         std                               12.950238
         min                                0.000000
         25%                                8.750000
         50%                               18.500000
         75%                               29.000000
         max                               42.000000
Duration count                             32.000000
         mean                              45.750000
         std                               31.425283
         min                                2.000000
         25%                               18.000000
         50%                               39.000000
         75%                               76.250000
         max                               98.000000
Score    count                             32.000000
         mean                              38.312500
         std                               25.010240
         min                                0.000000
         25%                               14.250000
         50%                               45.000000
         75%                               61.250000
         max                               75.000000

Content ID      026973ef-4b73-4901-9160-bc9e04516057  \
Age      count                             33.000000
         mean                              20.757576
         std                               13.245354
         min                                0.000000
         25%                                8.000000
         50%                               26.000000
         75%                               31.000000
         max                               43.000000
Duration count                             33.000000
         mean                              36.696970
         std                               30.950045
         min                                2.000000
         25%                               10.000000
         50%                               33.000000
         75%                               60.000000
         max                               98.000000
Score    count                             33.000000
         mean                              47.000000
         std                               24.031230
         min                                0.000000
         25%                               30.000000
         50%                               50.000000
         75%                               70.000000
         max                               75.000000

Content ID      0289b7bc-bc95-4f1d-83fe-9ca662194158  \
Age      count                             27.000000
         mean                              20.962963
         std                               14.867314
         min                                0.000000
         25%                                5.000000
         50%                               20.000000
         75%                               36.000000
         max                               41.000000
Duration count                             27.000000
         mean                              47.037037
         std                               28.473309
         min                                3.000000
         25%                               17.500000
         50%                               53.000000
         75%                               64.000000
         max                               98.000000
Score    count                             27.000000
         mean                              38.222222
         std                               22.869754
         min                                0.000000
         25%                               20.000000
         50%                               30.000000
         75%                               57.500000
         max                               75.000000

Content ID      02ba5af1-784a-44cc-ae3a-14833c4a2237  ...  \
Age      count                             44.000000  ...
         mean                              20.227273  ...
         std                               12.326684  ...
         min                                0.000000  ...
         25%                                9.750000  ...
         50%                               19.000000  ...
         75%                               31.250000  ...
         max                               44.000000  ...
Duration count                             44.000000  ...
         mean                              45.318182  ...
         std                               26.941602  ...
         min                                2.000000  ...
         25%                               20.000000  ...
         50%                               47.500000  ...
         75%                               63.750000  ...
         max                               96.000000  ...
Score    count                             44.000000  ...
         mean                              43.613636  ...
         std                               26.022545  ...
         min                                0.000000  ...
         25%                               20.000000  ...
         50%                               50.000000  ...
         75%                               66.250000  ...
         max                               75.000000  ...

Content ID      fbd8f70d-d62d-42e8-9508-9f5815ab578c  \
Age      count                             41.000000
         mean                              23.219512
         std                               12.344052
         min                                1.000000
         25%                               15.000000
         50%                               26.000000
         75%                               30.000000
         max                               43.000000
Duration count                             41.000000
         mean                              50.682927
         std                               32.837813
         min                                0.000000
         25%                               17.000000
         50%                               57.000000
         75%                               75.000000
         max                               98.000000
Score    count                             41.000000
         mean                              43.170732
         std                               25.757428
         min                                0.000000
         25%                               15.000000
         50%                               50.000000
         75%                               65.000000
         max                               75.000000

Content ID      fc346df4-d165-4ed0-8d43-a6896daf908e  \
Age      count                             22.000000
         mean                              20.318182
         std                               14.129963
         min                                1.000000
         25%                               10.250000
         50%                               16.000000
         75%                               30.750000
         max                               43.000000
Duration count                             22.000000
         mean                              49.181818
         std                               28.518392
         min                                0.000000
         25%                               26.250000
         50%                               54.000000
         75%                               72.250000
         max                               97.000000
Score    count                             22.000000
         mean                              52.318182
         std                               23.562251
         min                               10.000000
         25%                               37.500000
         50%                               65.000000
         75%                               70.000000
         max                               75.000000

Content ID      fc462e49-0f19-4601-9f92-a31c9542887c  \
Age      count                             38.000000
         mean                              22.868421
         std                               14.463694
         min                                0.000000
         25%                                7.250000
         50%                               23.500000
         75%                               36.750000
         max                               44.000000
Duration count                             38.000000
         mean                              48.026316
         std                               29.854138
         min                                0.000000
         25%                               20.500000
         50%                               49.000000
         75%                               71.000000
         max                               98.000000
Score    count                             38.000000
         mean                              43.736842
         std                               28.055624
         min                                0.000000
         25%                               12.750000
         50%                               55.000000
         75%                               70.000000
         max                               75.000000

Content ID      fd060448-7b3e-4626-b3ca-44bfe764e26f  \
Age      count                             35.000000
         mean                              21.314286
         std                               12.655553
         min                                0.000000
         25%                                9.000000
         50%                               23.000000
         75%                               31.500000
         max                               43.000000
Duration count                             35.000000
         mean                              41.714286
         std                               31.109457
         min                                0.000000
         25%                               14.000000
         50%                               48.000000
         75%                               59.000000
         max                               93.000000
Score    count                             35.000000
         mean                              37.085714
         std                               29.485162
         min                                0.000000
         25%                               10.000000
         50%                               20.000000
         75%                               70.000000
         max                               75.000000

Content ID      fd0a3090-6b89-4c4e-9192-1aa4db213a3e  \
Age      count                             31.000000
         mean                              21.548387
         std                               14.657964
         min                                0.000000
         25%                                9.000000
         50%                               23.000000
         75%                               34.500000
         max                               44.000000
Duration count                             31.000000
         mean                              34.774194
         std                               29.951861
         min                                0.000000
         25%                               11.000000
         50%                               20.000000
         75%                               58.000000
         max                               92.000000
Score    count                             31.000000
         mean                              50.548387
         std                               23.832525
         min                                0.000000
         25%                               35.000000
         50%                               50.000000

In [8]:
df_final = pd.merge(df_user_r, content, on = "Content ID", how = "inner")
df_final["Type_media"] = df_final["Type_y"]
df_final["Type_content"] = df_final["Type_x"]
df_final.drop(["Unnamed: 0","Type_y","Type_x"], axis = 1, inplace = True)
df_final

,User ID_x,Name,Email,Interests,Age,Device,Duration,Address,Content ID,Datetime,Sentiment,Score,User ID_y,Category,URL,Type_media,Type_content
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,Gary Hill,GHbnuothhymw,"[0, 1]",41,Microsoft,11,"6208 Wright Mountains\nBryantfurt, AR 02531",51a26a10-6973-4882-aa88-98b53978ce01,20-11-2020 19:40,negative,0,d55f3314-96cc-4a5d-b650-f43f094cd3c3,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,disgust
1,aa71ef91-252d-4c99-92ad-cf617f09fced,Rose Cook,RC@gmail.com,"['studying', 'studying']",3,Motorola,5,"65135 Paul Cliff\nWest Wendy, KY 36605",51a26a10-6973-4882-aa88-98b53978ce01,01-02-2021 14:25,negative,12,d55f3314-96cc-4a5d-b650-f43f094cd3c3,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,worried
2,dcc6000c-ba92-472c-8bc1-9e9ca30b475b,Randal Davis,RD@gmail.com,"['education', 'food']",9,HTC,98,"45056 Tammy Springs\nWest Nicole, VT 62857",51a26a10-6973-4882-aa88-98b53978ce01,22-05-2021 00:06,positive,60,d55f3314-96cc-4a5d-b650-f43f094cd3c3,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,heart
3,95023c1b-04b7-4efd-ab34-61a4a70bb9d8,Arthur Wittmer,AW@gmail.com,"['studying', 'public speaking', 'travel', 'stu...",5,HTC,54,"038 Roy Port Suite 983\nCharlesstad, MT 64615",51a26a10-6973-4882-aa88-98b53978ce01,05-08-2020 09:16,positive,65,d55f3314-96cc-4a5d-b650-f43f094cd3c3,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,love
4,6e9c7f30-264a-4aa0-b3ac-36e852d10906,Linda Zettlemoyer,LZ@gmail.com,"['healthy eating', 'healthy eating', 'food']",25,Microsoft,2,"PSC 2768, Box 0408\nAPO AA 38458",51a26a10-6973-4882-aa88-98b53978ce01,07-10-2020 19:43,positive,45,d55f3314-96cc-4a5d-b650-f43f094cd3c3,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,intrigued
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22529,23a48585-f2cf-4a20-8d30-f49361d5625c,Jessica Gray,JG@gmail.com,"['cooking', 'animals', 'studying', 'public spe...",39,Microsoft,15,USS Henry\nFPO AE 30895,48fd48c7-bc82-414e-8941-aa2090183aec,16-08-2020 11:39,negative,5,85eca06e-b8db-4fd9-b083-da47572c40b2,dogs,https://socialbuzz.cdn.com/content/storage/48f...,photo,hate
22530,3a752edf-f723-46a5-bffb-4a9ed6475546,Eli Anderson,EA@gmail.com,"['studying', 'technology', 'culture']",21,Samsung,24,"5880 Julie Road\nWest Holly, AZ 85825",99fcc8a6-550f-47a1-b312-aba8a031f6c7,26-02-2021 15:33,positive,60,084eb113-0d87-4ae5-891b-2ec7f1e194a8,travel,https://socialbuzz.cdn.com/content/storage/99f...,video,heart
22531,2019ba88-1967-43e6-9710-b17ade18afb3,Ruth Washington,RW@gmail.com,"['technology', 'travel', 'dogs', 'fitness']",16,Motorola,26,"341 Brandon Ford\nWest Christineton, ME 06206",16757b80-2803-4464-b5d7-e372d8d77337,11-11-2020 18:52,negative,5,3e65775b-36e4-495d-9c45-28127fb3da5f,technology,https://socialbuzz.cdn.com/content/storage/167...,GIF,hate
22532,3eb6dad3-c017-4e77-8920-fbdea84b0acc,Doris Jenkins,DJ@gmail.com,"['veganism', 'science']",29,HTC,49,"490 Jessica Radial\nLake Connorton, CT 69222",d826807d-be79-402e-a55a-baf08df8212d,30-05-2021 01:35,negative,15,1f81cb56-5258-4f9e-ab2c-4dfb581b44cb,science,NaN,GIF,scared
22533,d47fd6cf-20fa-45fe-97a1-b8aca043c9a8,Natasha Hazelwood,NH@gmail.com,"['fitness', 'veganism', 'public speaking', 'te...",13,Motorola,20,"50989 Maria Port\nEast Marissa, ME 50294",d826807d-be79-402e-a55a-baf08df8212d,05-11-2020 01:55,neutral,20,1f81cb56-5258-4f9e-ab2c-4dfb581b44cb,science,NaN,GIF,indifferent

In [9]:
df_final.drop(["Datetime","User ID_x","Name","Email","Address","User ID_y"], axis = 1 ,inplace = True)

In [10]:
df_final.dropna()

,Interests,Age,Device,Duration,Content ID,Sentiment,Score,Category,URL,Type_media,Type_content
0,"[0, 1]",41,Microsoft,11,51a26a10-6973-4882-aa88-98b53978ce01,negative,0,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,disgust
1,"['studying', 'studying']",3,Motorola,5,51a26a10-6973-4882-aa88-98b53978ce01,negative,12,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,worried
2,"['education', 'food']",9,HTC,98,51a26a10-6973-4882-aa88-98b53978ce01,positive,60,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,heart
3,"['studying', 'public speaking', 'travel', 'stu...",5,HTC,54,51a26a10-6973-4882-aa88-98b53978ce01,positive,65,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,love
4,"['healthy eating', 'healthy eating', 'food']",25,Microsoft,2,51a26a10-6973-4882-aa88-98b53978ce01,positive,45,veganism,https://socialbuzz.cdn.com/content/storage/51a...,audio,intrigued
...,...,...,...,...,...,...,...,...,...,...,...
22524,"['dogs', 'public speaking', 'animals', 'soccer']",9,Samsung,7,b7a5e38b-b990-4b8e-aaac-6cc9ee77f3d9,neutral,35,cooking,https://socialbuzz.cdn.com/content/storage/b7a...,video,peeking
22528,"['cooking', 'animals', 'studying', 'fitness']",20,HTC,51,48fd48c7-bc82-414e-8941-aa2090183aec,negative,0,dogs,https://socialbuzz.cdn.com/content/storage/48f...,photo,disgust
22529,"['cooking', 'animals', 'studying', 'public spe...",39,Microsoft,15,48fd48c7-bc82-414e-8941-aa2090183aec,negative,5,dogs,https://socialbuzz.cdn.com/content/storage/48f...,photo,hate
22530,"['studying', 'technology', 'culture']",21,Samsung,24,99fcc8a6-550f-47a1-b312-aba8a031f6c7,positive,60,travel,https://socialbuzz.cdn.com/content/storage/99f...,video,heart
22531,"['technology', 'travel', 'dogs', 'fitness']",16,Motorola,26,16757b80-2803-4464-b5d7-e372d8d77337,negative,5,technology,https://socialbuzz.cdn.com/content/storage/167...,GIF,hate

In [11]:
df_final.Interests.value_counts()

['public speaking']                           539
['science']                                   496
['animals']                                   416
['soccer']                                    413
['education']                                 403
                                             ...
['dogs', 'science', 'animals', 'studying']     31
['travel', 'animals', 'education']             31
['fitness', 'dogs', 'dogs', 'veganism']        30
['science', 'dogs', 'travel']                  30
['education', 'travel', 'tennis']              29
Name: Interests, Length: 366, dtype: int64

In [12]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22534 entries, 0 to 22533
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Interests     22534 non-null  object
 1   Age           22534 non-null  int64
 2   Device        22534 non-null  object
 3   Duration      22534 non-null  int64
 4   Content ID    22534 non-null  object
 5   Sentiment     22534 non-null  object
 6   Score         22534 non-null  int64
 7   Category      22534 non-null  object
 8   URL           18384 non-null  object
 9   Type_media    22534 non-null  object
 10  Type_content  22534 non-null  object
dtypes: int64(3), object(8)
memory usage: 2.1+ MB

In [13]:
df_final.to_csv("ContentPopularityModel.csv")

In [42]:
df_cont = df_final.groupby("Type_content")
df_cont["Score"].sum()

Type_content
adore          102744
cherish         96600
disgust             0
dislike         13960
hate             7100
heart           89820
indifferent     27700
interested      42750
intrigued       60930
like            69550
love            91715
peeking         50330
scared          21540
super love     104475
want            97720
worried         16548
Name: Score, dtype: int64

In [54]:
dg_cat = df_final.groupby(["Category"])
dg_cat["Score"].sum()

Category
"animals"             1519
"cooking"              644
"culture"             1980
"dogs"                1618
"food"                  50
"public speaking"      894
"science"              506
"soccer"              2243
"studying"             486
"technology"           939
"veganism"            1040
Animals               3561
Culture               1450
Education             1218
Fitness               5017
Food                  3142
Healthy Eating         272
Public Speaking       1231
Science               4324
Soccer                2516
Studying              1176
Technology             217
Travel                1010
Veganism               579
animals              63544
cooking              58530
culture              57233
dogs                 46780
education            51541
fitness              45818
food                 58406
healthy eating       62866
public speaking      43626
science              60575
soccer               48457
studying             47780
technology           61879
tennis               46185
travel               58348
veganism             44282
Name: Score, dtype: int64

In [55]:
dg_pop = df_final.groupby(["Type_content","Category"])
dg_pop["Score"].sum()

Type_content  Category
adore         "animals"              72
              "culture"             216
              "dogs"                 72
              "public speaking"      72
              "soccer"              144
                                   ...
worried       studying             1008
              technology           1104
              tennis                984
              travel               1104
              veganism              840
Name: Score, Length: 557, dtype: int64