In [4]:
n=10
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [9]:
for i in range(1,10):
    if i == 1:
        print('Helloo')
    else:
        print("Hello"+"o"*i)

Helloo
Hellooo
Helloooo
Hellooooo
Helloooooo
Hellooooooo
Helloooooooo
Hellooooooooo
Helloooooooooo

In [43]:
l_c = [num*3 for num in range(1,20) if num%3 == 0]

In [44]:
print(l_c)

[9, 18, 27, 36, 45, 54]

In [45]:
def func(x):
    y = [i**2 for i in range(1,x) if i%2 != 0]
    return y

In [46]:
sq_of_odds = func(20)
sq_of_odds

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [47]:
list(map(func,l_c))

[[1, 9, 25, 49],
 [1, 9, 25, 49, 81, 121, 169, 225, 289],
 [1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625],
 [1,
  9,
  25,
  49,
  81,
  121,
  169,
  225,
  289,
  361,
  441,
  529,
  625,
  729,
  841,
  961,
  1089,
  1225],
 [1,
  9,
  25,
  49,
  81,
  121,
  169,
  225,
  289,
  361,
  441,
  529,
  625,
  729,
  841,
  961,
  1089,
  1225,
  1369,
  1521,
  1681,
  1849],
 [1,
  9,
  25,
  49,
  81,
  121,
  169,
  225,
  289,
  361,
  441,
  529,
  625,
  729,
  841,
  961,
  1089,
  1225,
  1369,
  1521,
  1681,
  1849,
  2025,
  2209,
  2401,
  2601,
  2809]]

In [48]:
sq = lambda i:i**2

In [49]:
sq(10)

100

In [50]:
list(filter(lambda i: i%2 !=  0,l_c))

[9, 27, 45]

In [51]:
s = "I like me better with myself"

In [52]:
s.isupper()

False

In [53]:
s.upper()

'I LIKE ME BETTER WITH MYSELF'

In [58]:
list = s.split("e")

In [59]:
list

['I lik', ' m', ' b', 'tt', 'r with mys', 'lf']

In [60]:
list[2] = "hello"
list

['I lik', ' m', 'hello', 'tt', 'r with mys', 'lf']

In [63]:
str = ""
print(str.join(list))

I lik mhellottr with myslf

In [65]:
x = [(1,2),(2,3),(3,4),(4,5)]
for (a,b) in x:
    print(a+b)

3
5
7
9